* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(./images/bg.png);
}

.flex {
  display: flex;
}

header {
  text-align: center;
}

h1 {
  font-family: "Pacifico", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  position: relative;
  text-transform: uppercase;
}

.center {
  margin: 0 auto;
  width: 100%;
}

.line {
  background-color: rgb(92, 62, 8);
  width: 20vw;
  height: 3px;
  border-radius: 100%;
  opacity: 0.3;
  position: relative;
}

.parent {
  height: 80vh;
  width: 75%;
  display: flex; /* step #1 : Flex conainer (Default row)*/
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.child {
  margin: 5px;
}

.child img {
  width: 7.5vw;
  height: 70vh;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.2s; /* for hover without other photos moving */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

img[src*="./puppies2.webp"] {
  object-position: 70% 100%;
}

img[src*="./dog.jpg"] {
  object-position: 75% 100%;
}

img[src*="./bear.jpg"] {
  object-position: 75% 100%;
}

img[src*="./flatten.jpg"] {
  object-position: 35% 100%;
}

/* Disable grayscale on hover */
img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
  transform: scale(1.1); /* for hover without other photos moving */
}

@media only screen and (max-width: 768px) {
  /* if <768 then */
  .parent {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 300vh;
    width: 70%;
  }
  .child img {
    width: 30vw;
  }
}

@media only screen and (max-width: 480px) {
  /* if <480 then */
  .parent {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 600vh;
    width: 70%;
  }
  .child img {
    width: 50vw;
  }
}

/* problems:
      1. fonts (install font)
      2. hover then other images also moved (cleared)
  */
